@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.sidebarFilter::placeholder {
  font-size: 15px;
  font-weight: 450;
}



@media (max-width: 767px) {
  .sidebar_filter_search_icon {
    display: none;
  }

  .sidebar_filter_search_input {
    padding-left: 3px;
  }
}




/* today task form adding loading button */
.laoding_svg {
  width: 1.45em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

.laoding_circle {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}


input[type="file"] {
  color: #fff;
  /* background-color: #4f46e5; */
  padding: 8px;
  border-radius: 6px;
  font-family: sans-serif;
}


.swiper {
  width: 100%;
}

.swiper-pagination {
  position: relative !important;
  top: 0 !important;
}


/* custom-scroll.css */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Tailwind's blue-500 */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Tailwind's blue-600 */
}